@import 'variables';
//@import 'utilities';

@import 'base';

body {
  background-color: $primary;
}





.button {
  display: inline-block;
  font-weight: 300;
  color: #fff;
  // font-size: 1.2em;
  text-decoration: none;
  border: 1px solid lighten($teal, 10%);
  padding: 0.5em;
  border-radius: 4px;
  background-color: darken($teal, 15%);
  margin: 2em 15px 0 15px;
  position: relative;
  transition: all 0.3s linear;
}

.button:hover {
  background-color: #768996;
  color: #fff;
}
.container {
  position: relative;
  width: 36rem;
  margin: 0 auto;
}

.info-text {
  position: relative;
  margin: 50px auto 10px;
  padding: 20px;
  text-align: center;
}
h2 {
  font-size: 3.5rem;
  font-weight: 100;
  position: relative;
  text-shadow: 2px 2px 2px darken($teal, 25%);
}

h1 {
  font-size: 1.3rem;
  font-weight: 100;
  margin-left: -5rem;
  text-shadow: 4px 4px 4px darken($teal, 25%);
}
h1,
h2 {
  color: #fff;
  text-align: center;
  line-height: 1em;
}

.error-message {
  color: $danger-color;
  position: absolute;
  width: 6rem;
  right: -7.5rem;
  text-align: center;
  bottom: -2.71rem;
  display: block;
  font-size: 2rem;
  text-shadow: 3px 3px 2px darken($teal, 25%);
}

@media (min-width: 360px) {
  .error-message {
    color: #dc3545;
    position: absolute;
    width: 6rem;
    right: 21.5rem;
    text-align: center;
    bottom: -5.71rem;
    display: block;
    font-size: 2rem;
    text-shadow: 3px 3px 2px #0e5b44;
  }
}

@media (min-width: 280px) {
  .error-message {
    color: #dc3545;
    position: absolute;
    width: 6rem;
    right: 24.5rem;
    text-align: center;
    bottom: -4.710000000000001rem;
  }
  .button {
    display: inline-block;
    font-weight: 300;
    color: #fff;
    text-decoration: none;
    border: 1px solid #3ce0af;
    padding: 0.5em;
    border-radius: 4px;
    background-color: #158765;
    margin: 2em 15px 0 15px;
    position: relative;
    transition: all 0.3s linear;
}
}

@media (min-width: 375px) {
  .error-message {
    color: #dc3545;
    position: absolute;
    width: 6rem;
    right: 21.5rem;
    text-align: center;
    bottom: -5.71rem;
    display: block;
    font-size: 2rem;
    text-shadow: 3px 3px 2px #0e5b44;
  }
}

@media (min-width: 820px) {
  .error-message {
    color: #dc3545;
    position: absolute;
    width: 6rem;
    right: 21.5rem;
    text-align: center;
    bottom: -5.71rem;
    display: block;
    font-size: 2rem;
    text-shadow: 3px 3px 2px #0e5b44;
  }
}
