$primary-color: #17a2b8;
$secondary-color: #f1f0f0;
$dark-color: #343a40;
$black-col: #555555;
$light-grey-col: #e7e7e7;
$light-color: #f4f4f4;
$danger-color: #dc3545;
$success-color: #28a745; /* Color */
$light-col: #7777;
$box-shadow: 0 0 3px 0 #1183d6;
$border-color: #1183d6;
$helper: tomato;
$background-col_red: #dc3545;
$primary: $primary-color;
$success: $success-color;
$danger: $danger-color;
$light: $light-color;
$dark: $dark-color;
$secondary-colo: $secondary-color;

$indigo: #10f2e7;
$purple: #1a0754;
$pink: #d63384;
$red: #8a0e4c;
$orange: #582c07d4;
$yellow: #ffc107;
$green: #198754;
$teal: #20c997;
$cyan: #0b4955;

$font-size-base: 1rem;
$font-size-lg: 1.25rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.75rem; /* font size */

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-bold: 700;

$border-radius: 0.25rem;
$border-radius-lg: 0.3rem;
$border-radius-lg: 0.2rem;
$border-radius-lg: 0.1rem;

$font-family: 'Raleway';
$max-width: 1100px;

$section-spacing: 4rem 0 2.5rem;
