@import 'variables';

//@import 'utilities';

@import 'base';

//Navigation elements
.navbar {
  background-color: $light-col;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.7rem 2rem;
  position: fixed;
  z-index: 1;
  width: 100%;
  top: 0;
  border-bottom: solid 1px $dark-color;
  opacity: 0.9;
  font-size: $font-size-lg;
  font-weight: 400;

  ul {
    display: flex;
  }
  a {
    color: $dark-color;
    padding: 0.45rem;
    margin: 0 0 25rem;

    &:hover {
      color: $primary-color;
    }
  }
}

.landing {
  position: relative;
  height: 90vh;

  &-inner {
    color: #333;
    height: 24%;
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: center;
  }
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.07);
}
.x-large {
  font-size: $font-size-lg;
  line-height: 1.2;
  margin-bottom: 1rem;
}

h1 {
  height: 1em;
  margin-right: 2em;
  width: 14em;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: $font-family;
  font-weight: bold;
  top: -10rem;
  text-transform: uppercase;
  padding: 10px 0 45px;
  margin-bottom: 1rem;
}

.fa-facebook {
  color: $pink;
}

.btn-edit {
  display: inline-block;
  font-weight: 300;
  color: #fff;
  font-size: 1.2em;
  cursor: pointer;
  text-decoration: none;
  border: 1px solid lighten($teal, 10%);
  padding: 0.5em;
  border-radius: 4px;
  background-color: darken($teal, 15%);
  margin: 2em 15px 0 15px;
  position: relative;
  transition: all 0.3s linear ease-in-out;

  &:hover {
    background-color: $pink;
    color: #fff;
  }
}

.container_log a {
  height: 1em;
  margin-right: 2em;
  width: 14em;
  color: $light-color;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: $font-family;
  font-weight: bold;
  top: 10rem;
  text-transform: uppercase;
  padding: 10px 0 45px;
}

/*.dev-container {
  height: -2px;
}*/

.container_bg {
  //background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: 0.7rem;
  margin-bottom: 10rem;
}

.headline-three,
.headline_two,
.headliner {
  background-color: #dc3545;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: $light-color;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: -1em;
  box-shadow: $danger-color;
}

.form-signin {
  max-width: 100%;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
  margin-bottom: -11rem;
}

/*---  Form input ----*/
.form-control {
  width: 100%;
  border: 1px solid $light-color;
  border-radius: $border-radius;
  padding: 0.5rem;
  font-size: 1em;
  font-size: 16px;
  padding: 10px 10 10 12px;
  box-sizing: border-box;
  height: auto;
  border-radius: $border-radius;
}
label {
  display: block;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 1.2rem;
  color: $dark-color;
  text-transform: uppercase;
  margin-top: 2rem;
}
.btn,
.btn-primary {
  background: $primary-color;
  color: $light-color;
  border-radius: $border-radius-lg;
  padding: 0.5rem 2rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 2rem;

  &:hover {
    background: $indigo;
    color: $light-color;
  }
}

.tag a {
  color: $primary-color;
}
/*---- language ------*/
.language {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: $border-radius;
  font-size: $font-size-sm;
  color: $dark-color;
}

.Copywriter {
  text-align: center;
}
/* Posts Page!*/

/*----- Media ----- */
@media (min-width: 280px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -15rem;
  }
  .x-large {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: -8rem;
  }
  .landing {
    position: relative;
    height: 87vh;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 194px;
  }
  .form-signin {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: -2rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 360px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -15rem;
  }
  .x-large {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: -3rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 285px;
  }
  .form-signin {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 375px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -15rem;
  }
  .x-large {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: -4rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 285px;
  }
  .form-signin {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 412px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -1rem;
  }
  .x-large {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: -2rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 321px;
  }
  .form-signin {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 414px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -15rem;
  }
  .x-large {
    font-size: 1.25rem;
    line-height: 1.2;
    margin-bottom: -8rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 285px;
  }
  .form-signin {
    width: 100%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 428px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
    font-size: 1.75rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -15rem;
  }
  .x-large {
    text-transform: lowercase;
    font-size: 2.3rem;
    line-height: 1.2;
    margin-bottom: -1rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 323px;
  }
  .form-signin {
    width: 50%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 540px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
    font-size: 1.75rem;
  }
  h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: -15rem;
  }
  .x-large {
    text-transform: lowercase;
    font-size: 2.3rem;
    line-height: 1.2;
    margin-bottom: -1rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 323px;
  }
  .form-signin {
    width: 80%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}
@media (min-width: 800px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -15rem;
  }
  .x-large {
    font-size: 2.25rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 533px;
  }
  .form-signin {
    width: 50%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}
@media (min-width: 820px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  // navbar
  .navbar {
    display: block;
    text-align: center;
  }
  ul {
    text-align: center;
    justify-content: center;
  }
  h1 {
    margin-bottom: -15rem;
  }
  .x-large {
    font-size: 2.25rem;
    line-height: 1.2;
    margin-bottom: 2rem;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .container_log a {
    height: 1em;
    margin-right: 37em;
    width: 7em;
    color: #f4f4f4;
    font-size: 2.5em;
    margin-left: 3.5em;
  }

  .form-control {
    width: 337px;
  }
  .form-signin {
    width: 50%;
    margin: 0 auto;
    margin-bottom: -50rem;
    height: 100%;
  }
  .form-group {
    margin-bottom: 0rem;
  }
  .language {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1em;
    margin-bottom: -1em;
    border-radius: 0.25rem;
    border: 1px solid #e6e6e6;
  }
}

@media (min-width: 1024px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  //Navigation elements
  .navbar {
    background-color: $light-col;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
    }
    h1 {
      margin-bottom: -2rem;
    }
    .x-large {
      font-size: 2.25rem;
      line-height: 1.2;
      margin-bottom: -1rem;
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .container_log a {
      height: 1em;
      margin-right: 37em;
      width: 7em;
      color: #f4f4f4;
      font-size: 2.5em;
      margin-left: 3.5em;
    }

    .form-control {
      width: 708px;
    }
    .form-signin {
      width: 50%;
      margin: 0 auto;
      margin-bottom: -50rem;
      height: 100%;
    }
    .form-group {
      margin-bottom: 0rem;
    }
    .language {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1em;
      margin-bottom: -1em;
      border-radius: 0.25rem;
      border: 1px solid #e6e6e6;
    }
  }
}

@media (min-width: 1280px) {
  .container_bg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: -4.300000000000001rem;
    margin-bottom: -23rem;
  }

  //Navigation elements
  .navbar {
    background-color: $light-col;
    display: flex;
    align-items: center;
    justify-content: space-between;

    ul {
      display: flex;
    }
    h1 {
      margin-bottom: -2rem;
    }
    .x-large {
      font-size: 2.25rem;
      line-height: 1.2;
      margin-bottom: -1rem;
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    .container_log a {
      height: 1em;
      margin-right: 37em;
      width: 7em;
      color: #f4f4f4;
      font-size: 2.5em;
      margin-left: 3.5em;
    }

    .form-control {
      width: 533px;
    }
    .form-signin {
      width: 50%;
      margin: 0 auto;
      margin-bottom: -50rem;
      height: 100%;
    }
    .form-group {
      margin-bottom: 0rem;
    }
    .language {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding: 1em;
      margin-bottom: -1em;
      border-radius: 0.25rem;
      border: 1px solid #e6e6e6;
    }
  }
}
