@import 'variables';

@import 'base';

#container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  gap: 0.25rem;
  margin-bottom: 5rem;
}

.btn-logout {
  padding: 5px;
  border-radius: 7px;
  width: 120px;
  height: 35px;
  font-size: 16px;
  border: none;
  background: tomato;
  color: #ffffff;
  box-shadow: 4px 4px 5px -3px gray;
}

.container_log a {
  height: 1em;
  margin-right: 2em;
  width: 14em;
  color: $light-color;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: $font-family;
  font-weight: bold;
  top: 10rem;
  text-transform: uppercase;
  padding: 10px 0 45px;
}

.navbar {
  padding: 1.2vw;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  color: $light-color;
  border-bottom: 1px solid $primary-color;
  width: 100%;
  z-index: 88;
}

#container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.25rem;
  margin-bottom: 5rem;
}

.card {
  border: 1px solid #cccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card img {
  height: 100%;
  width: 100%;
}
.card > .header {
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
}

.card > .body {
  font-size: 0.8rem;
  color: $light-col;
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}

/// search
///
.container-search {
  margin: 20px auto 10px auto;
  width: 21vw;
  min-width: 210px;
}
.container-search input {
  padding: 5px 7px 5px 7px;
  height: 38px;
  width: 100%;
  margin: auto;
  border: none;
  font-size: $font-size-base;
  border-radius: 13px;
  box-shadow: 0 5px 4px -3px $dark-color, 0 -2px 4px -2px $dark-color;
}
.container-search input:focus {
  outline: none;
}

.headline-three,
.headline_two,
.headliner {
  background-color: #dc3545;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: $light-color;
}

/*----- media q ----- */
@media (min-width: 280px) {
  .container_log a {
    height: 1em;
    margin-right: 2em;
    width: 5em;
    color: #f4f4f4;
    display: inline-block;
    padding: 10px 0 62px;
  }
  .btn-logout {
    width: 105px;
    height: 49px;
  }
}

@media (min-width: 375px) {
  .btn-logout {
    width: 105px;
    height: 49px;
  }
  .container_log a {
    height: 1em;
    margin-right: 2em;
    width: 4em;
    color: #f4f4f4;
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-left: 3.5em;
    padding: 10px 0 63px;
  }
}

@media (min-width:  412px) {
  .btn-logout {
    width: 105px;
    height: 49px;
  }
  .container_log a {
    height: 1em;
    margin-right: 2em;
    width: 4em;
    color: #f4f4f4;
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-left: 3.5rem;
    padding: 10px 0 63px;
  }
}
