@import 'variables';

@import 'base';

.container_log a {
  height: 1em;
  margin-right: 2em;
  width: 14em;
  color: $light-color;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: $font-family;
  font-weight: bold;
  top: 10rem;
  text-transform: uppercase;
  padding: 10px 0 45px;
}

.navbar {
  padding: 1.2vw;
  height: 80px;
  display: flex;
  position: fixed;
  top: 0;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: $primary-color;
  color: $light-color;
  border-bottom: 1px solid $primary-color;
  width: 100%;
  z-index: 88;
}

.align-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.container_log a {
  height: 1em;
  margin-right: 2em;
  width: 14em;
  color: $light-color;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: $font-family;
  font-weight: bold;
  top: 10rem;
  text-transform: uppercase;
  padding: 10px 0 45px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
  color: $light-color;
  border-bottom: 1px solid $primary-color;
  width: 100%;
}

.align-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.headline-three,
.headline_two,
.headliner {
  background-color: #dc3545;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: $light-color;
}

/*---  Register -----*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*---  Form input ----*/
form input {
  width: 350px;
  border: 1px solid $light-color;
  border-radius: $border-radius;
  padding: 0.5rem;
  font-size: 1em;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  border-radius: $border-radius;
}

.container_bg {
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: -0.3rem;
  margin-bottom: 10rem;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.wrapper_col {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: $light-color;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  margin-bottom: 10rem;
  padding: 1rem;
}

.form-signin {
  max-width: 100%;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.card {
  border: 1px solid #cccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
}

.card > .body {
  font-size: 0.8rem;
  color: $light-col;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: -1em;
  box-shadow: $danger-color;
}

/*----- Buttons  Register---- */
.button {
  background: $black-col;
  color: $light-color;
  border-radius: $border-radius-lg;
  padding: 0.5rem 2rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 2rem;

  &:hover {
    background: $dark-color;
    color: $light-color;
  }
}
/*----- Buttons  login----  */
.btn-dark {
  background: $light-grey-col;
  outline: none;
  padding: 0.5rem 2rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: $black-col;

  &:hover {
    background-color: $light-grey-col;
    color: $black-col;
  }
}

.tag a {
  color: $primary-color;
}

/*
  .btn,
  .btn-light,
  .tag a {
    font-size: 1rem;


  background-color: $pink;
  color: $light-color;
  font-size: $font-size-lg;
  padding: 15px 50px;
  border-radius: none;
  width: 100%;
  margin-bottom: 2rem;
  transition: all 0.2s ease-in-out;
  outline: none;
  :hover {
    background-color: #dc3545;
  }
  }*/

/*---- language ------*/
.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: $border-radius;
}

/* Posts Page!*/

/*----- footer ----- */
@media (min-width: 62em) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .logo h1 {
    margin-right: 1em;
    width: 14em;
  }
}

@media (min-width: 375px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .logo h1 {
    margin-right: 1em;
    width: 10em;
  }

  form input {
    width: 287px;
  }
}

.btn,
.btn-light,
.tag a {
  font-size: 1rem;
}

.btn-primary {
  background-color: $primary-color;
  width: 100%;
  margin-bottom: 1rem;
}

.helper-text {
  color: tomato;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

.container_colum {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: $light-color;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  margin-bottom: 10rem;
  padding: 1rem;
}

// SINGLE POST PAGE
/*
.single-page-container {
    width: 80%;
    min-width: 310px;
    margin: auto;
    padding: 21px;
    
    box-shadow: 6px 6px 7px -4px grey;
}*/
.single-page-container {
  width: 80%;
  min-width: 310px;
  margin: auto;
  padding: 19px;
  background-color: #425d6e78;
  box-shadow: 6px 6px 7px -4px gray;
}
.single-title {
  text-align: center;
  margin: auto;
  padding: 5px;
  background-color: red;
}
.single-page-img {
  width: 55vw;
  height: 40vw;
  min-width: 320px;
  min-height: 250px;
  margin: auto;
}

@media (min-width: 412px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  .logo h1 {
    margin-right: 1em;
    width: 10em;
  }

  form input {
    width: 305px;
  }
}

.btn,
.btn-light,
.tag a {
  font-size: 1rem;
}

.btn-primary {
  background-color: $primary-color;
  width: 100%;
  margin-bottom: 1rem;
}

.helper-text {
  color: tomato;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

.container_colum {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: $light-color;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  margin-bottom: 10rem;
  padding: 1rem;
}

#container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.25rem;
  margin-bottom: 5rem;
}

@media (min-width: 360px) {
  .single-page-img {
    width: 45vw;
    height: 41vw;
    min-width: 267px;
    min-height: 265px;
    margin: auto;
  }
  .single-title {
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: red;
    margin-bottom: 2rem;
    color: #fff;
  }
}

@media (min-width: 375px) {
  .single-page-img {
    width: 45vw;
    height: 41vw;
    min-width: 267px;
    min-height: 265px;
    margin: auto;
  }
  .single-title {
    text-align: center;
    margin: auto;
    padding: 4px;
    background-color: red;
    margin-bottom: 2rem;
    color: #fff;
  }
}
