@import 'variables';

//@import 'utilities';
@import 'base';

/* Reusable */
.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: 9rem 0 2.5rem;
}

//Navigation elements

header {
  background-color: $secondary-colo;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;

  .nav-branding {
    text-transform: uppercase;
    min-width: 10.8rem;
    color: $dark-color;
    font-size: 2rem;
  }

  .nav {
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: inherit;
    padding: 0 24px;
  }
}

.button {
  background: $black-col;
  color: $light-color;
  border-radius: $border-radius-lg;
  padding: 0.5rem 2rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 2rem;

  &:hover {
    background: $dark-color;
    color: $light-color;
  }
}

/*----- Media Q----- */
@media screen and (min-width: 280px) {
  .single-page-container {
    width: 80%;
    min-width: 269px;
    margin: auto;
    padding: 10px;
    background-color: #425d6e78;
    box-shadow: 6px 6px 7px -4px gray;
  }
  .single-title {
    text-align: center;
    margin: auto;
    padding: 0px;
    background-color: red;
  }
  .single-page-img {
    width: 55vw;
    height: 40vw;
    min-width: 258px;
    min-height: 250px;
    margin: auto;
  }
  @media screen and (min-width: 360px) {
    .single-page-img {
      width: 45vw;
      height: 41vw;
      min-width: 267px;
      min-height: 265px;
      margin: auto;
    }
    .single-title {
      text-align: center;
      margin: auto;
      padding: 4px;
      background-color: red;
      margin-bottom: 2rem;
      color: #fff;
    }
    @media screen and (min-width: 375px) {
      .single-page-container {
        width: 80%;
        min-width: 378px;
        margin: auto;
        padding: 19px;
        background-color: #425d6e78;
        box-shadow: 6px 6px 7px -4px gray;
      }
      .single-title {
        text-align: center;
        margin: auto;
        padding: 0px;
        background-color: red;
      }
      .single-page-img {
        width: 55vw;
        height: 40vw;
        min-width: 320px;
        min-height: 250px;
        margin: auto;
      }
      @media screen and (min-width: 412px) {
        .single-page-container {
          width: 80%;
          min-width: 378px;
          margin: auto;
          padding: 19px;
          background-color: #425d6e78;
          box-shadow: 6px 6px 7px -4px gray;
        }
        .single-title {
          text-align: center;
          margin: auto;
          padding: 0px;
          background-color: red;
        }
        .single-page-img {
          width: 55vw;
          height: 40vw;
          min-width: 320px;
          min-height: 250px;
          margin: auto;
        }
      }
    }
  }
}
