@import 'variables';

//@import 'utilities';
@import 'base';

/* Reusable */
.container {
  max-width: 144rem;
  margin: 0 auto;
  padding: $section-spacing;
}
.place-items-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sm-screen-hidden {
  display: none !important;
}

//Navigation elements

header {
  background-color: $secondary-colo;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
}

.nav li a {
  color: #0b1d26;
}
.nav {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: inherit;
  padding: 0 24px;

  .nav li a {
    color: $dark-color;
  }
}

.nav li a:hover,
.nav li a:active {
  color: $primary-color;
}

.nav li a.active::after,
.nav li a:hover::after {
  content: '';
  width: 2%;
  height: 0.125rem;
  background: $pink;
  position: absolute;
  right: -980px;
  bottom: 37%;
  left: 1440px;
}

.nav li a {
  color: #0b1d26;
}

.nav-branding {
  text-transform: uppercase;
  min-width: 10.8rem;
  color: $dark-color;
  font-size: 2rem;
}

.menu-toggle-icon {
  width: 3.5rem;
  height: 3.5rem;

  color: $dark-color;
  cursor: pointer;
  transition: color 0.25s;
}

.menu-close {
  display: none !important;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.list-link {
  position: relative;
}

.list-link::after,
.list-link.current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -1rem;
  transform: translateY(-50%);
  width: 0.5rem;
  height: 0.5rem;
  background-color: $primary-color;
  border-radius: 50%;
  opacity: 0;
  transition: opacity 0.25s;
}

.list-link.current::after {
  opacity: 1 !important;
}

.list-link:hover:after {
  opacity: 1;
}

.nav-mobile {
  background-color: $light-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1.5rem;
  transform: translateY(-100%);
  z-index: -1;

  transition: transform 0.25s;
}

.nav.active .nav-mobile {
  transform: translateY(8rem);
}

.nav.active .open-menu {
  display: none !important;
}

.nav.active .menu-close {
  display: block !important;
}

.header::before {
  content: '';
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--dark-clr);
  z-index: -1;
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.5s;
}

/* Nav JavaScript Styles */
.header.active::before {
  opacity: 1;
  transform: scale(1);
}
.header.active-scroll {
  border-bottom: 1px solid rgb(62, 55, 55);
}

.align-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.container_log a {
  height: 1em;
  margin-right: 2em;
  width: 14em;
  color: $light-color;
  display: inline-block;
  font-size: 1.5em;
  text-align: center;
  line-height: 1em;
  font-weight: bold;
  margin-left: 0.5em;
  font-family: $font-family;
  font-weight: bold;
  top: 10rem;
  text-transform: uppercase;
  padding: 10px 0 45px;
}

.navbar {
  display: flex;
  flex-direction: row;
  background-color: $primary-color;
  color: $light-color;
  border-bottom: 1px solid $primary-color;
  width: 100%;
}

.align-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5rem;
}

.headline-three,
.headline_two,
.headliner {
  background-color: #dc3545;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
  color: $light-color;
}

/*---  Register -----*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/*---  Form input ----*/
form input {
  width: 350px;
  border: 1px solid $light-color;
  border-radius: $border-radius;
  padding: 0.5rem;
  font-size: 1em;
  font-size: 16px;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  border-radius: $border-radius;
}

.container_bg {
  background-color: $light-color;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  margin-top: -0.3rem;
  margin-bottom: 10rem;
}

.wrapper {
  margin-top: 80px;
  margin-bottom: 80px;
}

.wrapper_col {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: $light-color;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  margin-bottom: 10rem;
  padding: 1rem;
}

.form-signin {
  max-width: 100%;
  padding: 15px 35px 45px;
  margin: 0 auto;
  background-color: #fff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  border-left: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow: 0 3rem 5rem -2rem rgba(0, 0, 0, 0.2);
}

.user-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 0.25rem;
  align-items: center;
  margin-top: 1rem;
  margin-left: 1rem;
}
.card {
  border: 1px solid #cccc;
  border-radius: 0.25rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
}

.card > .header {
  margin-bottom: 0.25rem;
}

.hidden {
  display: none;
}

.card > .body {
  font-size: 0.8rem;
  color: $light-col;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: -1em;
  box-shadow: $danger-color;
}

/*----- Buttons  Register---- */
.button {
  background: $black-col;
  color: $light-color;
  border-radius: $border-radius-lg;
  padding: 0.5rem 2rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer;
  margin-right: 1rem;
  margin-top: 2rem;

  &:hover {
    background: $dark-color;
    color: $light-color;
  }
}
/*----- Buttons  login----  */
.btn-dark {
  background: $light-grey-col;
  outline: none;
  padding: 0.5rem 2rem;
  font-size: $font-size-base;
  font-weight: $font-weight-bold;
  text-transform: capitalize;
  transition: all 0.2s ease-in-out;
  display: inline-block;
  text-align: center;
  outline: none;
  cursor: pointer;
  color: $black-col;

  &:hover {
    background-color: $light-grey-col;
    color: $black-col;
  }
}

.tag a {
  color: $primary-color;
}

/*---- language ------*/
.language {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1em;
  margin-bottom: 1em;
  border-radius: $border-radius;
}

/* Posts Page!*/

/*----- footer ----- */
@media screen and (min-width: 280px) {
  .menu-toggle-icon {
    width: 14.5rem;
    font-size: $font-size-lg;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  @media screen and (min-width: 360px) {
    .menu-toggle-icon {
      width: 14.5rem;
      font-size: $font-size-lg;
    }
    .single-page-img {
      width: 45vw;
      height: 41vw;
      min-width: 267px;
      min-height: 265px;
      margin: auto;
    }
    .single-title {
      text-align: center;
      margin: auto;
      padding: 4px;
      background-color: red;
      margin-bottom: 2rem;
      color: #fff;
    }
  }
  @media screen and (min-width: 375px) {
    .menu-toggle-icon {
      width: 14.5rem;
      font-size: $font-size-lg;
    }
    .footer {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
    form input {
      width: 287px;
    }

    .helper-text {
      color: tomato;
      margin-top: 1em;
      margin-bottom: 1em;
      font-size: 1rem;
    }

    .container_colum {
      margin: 0 auto;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      min-height: 10vh;
      background-color: $light-color;
      border-radius: 3px;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
      margin-bottom: 10rem;
      padding: 1rem;
    }
    .single-page-container {
      width: 80%;
      min-width: 310px;
      margin: auto;
      padding: 19px;
      background-color: #425d6e78;
      box-shadow: 6px 6px 7px -4px gray;
    }
    .single-title {
      text-align: center;
      margin: auto;
      padding: 5px;
      background-color: red;
    }
    .single-page-img {
      width: 55vw;
      height: 40vw;
      min-width: 320px;
      min-height: 250px;
      margin: auto;
    }
  }
}
@media screen and (min-width: 412px) {
  .menu-toggle-icon {
    width: 14.5rem;
    font-size: $font-size-lg;
  }
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  form input {
    width: 305px;
  }
}

.btn-primary {
  background-color: $primary-color;
  width: 100%;
  margin-bottom: 1rem;
}

.helper-text {
  color: tomato;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 1rem;
}

.container_colum {
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 10vh;
  background-color: $light-color;
  border-radius: 3px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 1);
  margin-bottom: 10rem;
  padding: 1rem;
}

#container-card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.25rem;
  margin-bottom: 5rem;
}

@media screen and (min-width: 768px) {
  .menu-toggle-icon {
    width: 14.5rem;
    font-size: $font-size-lg;
  }
}
@media screen and (min-width: 800px) {
  .menu-toggle-icon {
    width: 14.5rem;
    font-size: $font-size-lg;
  }
}
@media screen and (min-width: 991px) {
  @media screen and (min-width: 991px) {
    :root {
      --font-size-xl: 7.5rem;
    }

    .nav-mobile {
      background-color: transparent;
      position: initial;
      width: initial;
      padding: initial;
      z-index: initial;
      transform: initial;
      transition: initial;
    }
    .nav-mobile,
    .list {
      flex-direction: row;
      gap: 0;
    }
    .nav-link {
      display: block;
      font-weight: lighter;
      padding: 5rem 2.4rem;
    }
    .list-link::after,
    .list-link.current::before {
      top: initial;
      right: initial;
      left: 50%;
      transform: translateX(-50%);
      bottom: -1rem;
    }
    .sm-screen-hidden {
      display: block !important;
    }
    .lg-screen-hidden {
      display: none;
    }
    .nav.active .nav-mobile {
      transform: initial;
    }
    .header::before {
      display: none;
    }
  }
  @media screen and (min-width: 375px) {
    .menu-toggle-icon {
      width: 14.5rem;
      font-size: $font-size-lg;
    }
  }
}
